:root {
  --theme: #492540;
  --theme-light: #523249;
  --error: #c03546;
  --info: #8eb8e5;
  --info-dark: #2664a6;
  --accent: #f26d5b;
  --accent-dark: #815355;
  --neutral: #f7f3e3;
  --dark: #333644;
  --darkest: #222121;

  --filter-neutral: invert(93%) sepia(13%) saturate(549%) hue-rotate(318deg)
    brightness(108%) contrast(94%);
  --filter-darkest: invert(7%) sepia(2%) saturate(856%) hue-rotate(314deg)
    brightness(101%) contrast(86%);
  --filter-info-dark: invert(27%) sepia(88%) saturate(1192%) hue-rotate(189deg)
    brightness(89%) contrast(79%);
  --filter-accent: invert(48%) sepia(50%) saturate(787%) hue-rotate(317deg)
    brightness(106%) contrast(90%);
}

html {
  max-height: 100vh;
  overflow: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(calc(20vw+10px), cacl(2vw+30px)) auto auto auto;
  grid-template-areas:
    "side navb navb navb"
    "side main main main"
    "side foot foot foot";
  height: 100%;
  /* typography & colour */
  color: var(--dark);
}

h2 {
  margin-bottom: 1.5rem;
  color: var(--accent);
}

h3,
h4 {
  margin-bottom: 1rem;
  color: var(--accent);
}

p {
  line-height: 3ch;
}

aside#sidebar-left {
  /* layout */
  grid-area: side;
  height: 100%;
  padding-top: 25vh;
  padding-left: 5vw;
  padding-right: 5vw;
  display: inline-block;
  overflow: auto;
  /* typography & colour */
  background-color: var(--theme-light);
  color: var(--neutral);
  font-size: auto 10vh;
}

#sidebar-left ul {
  /* layout */
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

#sidebar-left li {
  /* layout */
  list-style-type: none;
  padding: 2vh;
  margin: 1rem 0 1rem 0;
  border-radius: 18px;
  /* typography & colour */
  background-color: var(--theme);
  color: var(--neutral);
}

#sidebar-left a {
  text-decoration: none;
}

#sidebar-left li > img {
  vertical-align: middle;
}

#sidebar-left li span {
  vertical-align: top;
  padding-left: 0.5rem;
}

#sidebar-left li:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.icon-sidebar,
.icon-header {
  /* color change calculation */
  filter: var(--filter-neutral);
}

.icon-header {
  padding: 0.5rem;
}

main {
  /* layout */

  /* typography & colour */
  background-color: var(--theme);
}

#content-primary {
  margin-top: 6vh;
  margin-bottom: 2vh;
}

#content-primary + #content-supporting {
  margin-top: 0;
  margin-bottom: 0;
}

section.boxes-parent {
  /* layout */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boxes-parent > div {
  flex: 1 1 20vw;
}

.box {
  /* layout */
  padding: calc(10px + 2vw);
  margin: 2vw;
  border-radius: 12px;
  /* typography & colour */
  background-color: var(--neutral);
}
.box.box-child {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.box.box-message {
  /* layout */
  width: auto;
  padding: calc(1vw);
  margin: calc(5px+1vw);
  display: flex;
  justify-content: space-between;
}

.box > p {
  /* TODO: try to get p aligned left without icon */
}

.box-message > .icon {
  border-radius: 10%;
}

.message-info {
  /* typography & colour */
  background-color: var(--info);
  color: var(--darkest);
}

.box-message .icon-info {
  filter: var(--filter-darkest);
}

.message-error {
  /* typography & colour */
  background-color: var(--error);
  color: var(--neutral);
}

.box-message .icon-error {
  filter: var(--filter-neutral);
}

.box-message .icon-message {
  margin-left: 1vw;
  margin-right: 2vw;
}

.box-message .button-close {
  /* cursor: pointer; */
}
.message-info .button-close > img:hover {
  filter: var(--filter-info-dark);
}
.message-error .button-close > img:hover {
  filter: var(--filter-accent);
}

/* Breakpoints */
@media screen and (max-width: 1000px) {
  .label-sidebar {
    display: none;
  }

  aside#sidebar-left nav ul {
    align-items: center;
  }
}
